* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

html {
      font-family: Arial, Helvetica, sans-serif;
}

header {
      height: calc(20vh);
      background-color: rgba(0,150,136,1);
}

body {
      position: relative;
      background-color: rgba(216,219,214,1);
}

#chat-container {
      width: calc(90vw - 10px);
      height: calc(80vh - 20px);
      position: absolute;
      top: 30%;
      left: 5%;
      border: 1px solid black;
      border-radius: 10px;
      color: black;
      display: flex;
}

#chat-container > * > header {
      height: 60px;
      background-color: beige;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

#notifications-container {
      background-color: #8edafc;
      padding: 10px;
      display: flex;
      align-items: center;
      height: 60px;
}

aside {
      width: 30%;
      background-color: white;
      min-height: 400px;
      height: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
}

#search-container > .search-input {
      text-align: center;
      display: flex;
      color: #888;
      background-color: white;
}

#search-container > .search-input > input {
      flex-grow: 1;
      border: none;
}

#search-container > .search-input > * {
      padding: 6px 5px;
}

.single-conctact {
      height: 80px;
      padding: 10px;
      display: flex;
      border-bottom: 1px solid #eee;
      cursor: pointer;
}

.single-conctact.active {
      background-color: #e9ebeb;
}