* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

html {
      font-family: Arial, Helvetica, sans-serif;
}

header {
      height: calc(20vh);
      background-color: rgba(0,150,136,1);
}

body {
      position: relative;
      background-color: rgba(216,219,214,1);
}

#chat-container {
      width: calc(90vw - 10px);
      position: absolute;
      top: 30%;
      left: 5%;
      border: 1px solid black;
      border-radius: 10px;
      color: black;
      display: flex;
}

#chat-container > * > header {
      height: 60px;
      background-color: #e9ebeb;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
}

/*#chat-container > aside,
#chat-container > section {
      flex: 1;
}

#chat-container > section {
      display: flex;
      flex-direction: column;
}*/

.single-contact > nav > ul {
      display: flex;
      list-style-type: none;
}

#chat-container > section {
      width: 70%;
      overflow-y: auto;
}

#chat-container > section > main {
      /*flex: 1;*/
      height: calc(100% - 20px);
      background-image: url(../img/mine.jpg);
      padding: 10px 30px;
      overflow-y: auto;
}

#chat-container > section > header,
#chat-container > section > footer {
      height: 60px;
      background-color: #eaeaea;
      display: flex;
      /*justify-content: space-between;
      align-items: center;*/
}

a {
      height: 20px;
      border-radius: 50%;
      margin-right: 10px;
}

aside {
      width: 30%;
      background-color: white;
      min-height: 400px;
      height: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
}

#notifications-container {
      background-color: #8edafc;
      padding: 10px;
      display: flex;
      align-items: center;
      height: 60px;
}

#notification-container > div:last-child {
      margin-left: 10px;
}

#search-container > .search-input {
      text-align: center;
      display: flex;
      color: #888;
      background-color: white;
}

#search-container > .search-input > input {
      flex-grow: 1;
      border: none;
}

#search-container > .search-input > * {
      padding: 6px 5px;
}

.single-contact {
      height: 80px;
      padding: 10px;
      display: flex;
      border-bottom: 1px solid #eee;
      cursor: pointer;
      flex-grow: 1;
}

.single-contact:hover,
.single-contact.active {
      background-color: #e9ebeb;
}

.single-contact img {
      height: 100%;
      border-radius: 50%;
      margin-right: 15px;
}

.single-contact > div {
      flex-grow: 1;
}

.single-contact .last-message-time {
      color: #999;
      font-size: .7rem;
}